.app {
    font-family: "Arial";
    color: gray;
    padding: 20px;
}
.medals-table {
    text-align: center;
}
.medals-table tbody tr:first-child {
    border-top: 2px solid #999797;
}
.medals-table tr {
    border-bottom: 1px solid #D3D3D3;
}

.medals-table tr th{
    cursor: pointer;
    user-select: none;
}

.medals-table tr th,
.medals-table tr td
{
    padding: 7px;
}
.medals-table tbody {
    border-top: 1px solid gray;
}

.medals-table .flag-column{
    text-align: left;
    padding-right: 60px;
}
.medals-table .flag-column span{
    padding-right: 12px;
}
.medals-table .country-code{
    font-weight: bold;
}
