.app {
    font-family: "Arial";
    color: gray;
    padding: 20px;
}
.title {
  font-size: 18px;
}
.medals-table {
    text-align: center;
}
.medals-table tbody tr:first-child {
    border-top: 2px solid #999797;
}
.medals-table tr {
    border-bottom: 1px solid #D3D3D3;
}

.medals-table tr th{
    cursor: pointer;
    user-select: none;
}

.medals-table tr th,
.medals-table tr td
{
    padding: 7px;
}
.medals-table tbody {
    border-top: 1px solid gray;
}

.medals-table .flag-column{
    text-align: left;
    padding-right: 60px;
}
.medals-table .flag-column span{
    padding-right: 12px;
}
.medals-table .country-code{
    font-weight: bold;
}

.medals-table .row-num {
  display: inline-block;
  width: 30px;
  text-align: right;
}

.flag {
  display: inline-block;
  vertical-align: middle;
}

.total-td {
  font-weight: 600;
  color: #565656;
}

.total-th {
  color: #565656;
  font-weight: normal;
  font-size: 12px;
}

.medal-header {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

.gold {
  background-color: #fee101;
}

.silver {
  background-color: #a7a7ad;
}

.bronze {
  background-color: #824a02;
}

.ascending {
  border-bottom: 2px solid #999797;
}

.descending {
  border-top: 2px solid #999797;
}
